<div clas s="flex items-center justify-center h-1/4 overflow-y-hidden">
    <div class="flex justify-between gap-x-4 mx-auto w-full max-w-screen-lg">
        
        <div class="flex flex-col bg-purple-600  shadow-sm rounded-xl ">
            <div class="p-4 md:p-5">
              <h3 class="text-lg font-bold text-gray-200 ">
                Card title
              </h3>
              <p class="mt-2 text-gray-200 ">
                With supporting text below as a natural lead-in to additional content.
              </p>

            </div>
        </div>

        <div class="flex flex-col bg-blue-400  shadow-sm rounded-xl ">
            <div class="p-4 md:p-5">
              <h3 class="text-lg font-bold text-gray-200 ">
                Card title
              </h3>
              <p class="mt-2 text-gray-200 ">
                With supporting text below as a natural lead-in to additional content.
              </p>
            </div>
        </div>

        <div class="flex flex-col bg-orange-300  shadow-sm rounded-xl">
            <div class="p-4 md:p-5">
              <h3 class="text-lg font-bold text-gray-200">
                Card title
              </h3>
              <p class="mt-2 text-gray-200 ">
                With supporting text below as a natural lead-in to additional content.
              </p>
            </div>
        </div>

        <div class="flex flex-col bg-red-400  shadow-sm rounded-xl ">
            <div class="p-4 md:p-5">
              <h3 class="text-lg font-bold text-gray-200 ">
                Card title
              </h3>
              <p class="mt-2 text-gray-200 ">
                With supporting text below as a natural lead-in to additional content.
              </p>

            </div>
        </div>

    </div>
</div>