<div class="bg h-screen flex flex-col md:flex-row items-center justify-center">
    <!-- Left panel -->
    <div class="z-10 items-center justify-start w-2/4">
      <app-user-register></app-user-register>
    </div>
  
    <!-- Right panel -->
    <div class="h-screen mx-auto md:block md:w-full lg:w-/3 shadow-lg rounded-lg flex items-center justify-center">
      <div class="my-24 pt-24 px-24 items-center text-center space-y-6">
        <img src="assets/svgs/analytics.svg" alt="Team Illustration" class="w-1/2 mx-auto mb-4" />
        <div>
            <h1 class="text-2xl font-semibold text-gray-700 mb-6">"Tus consumos al alcance de tu mano"</h1>
            <p class="text-sm text-gray-400 mb-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
    </div>
  </div>
  