<div class="flex items-center justify-center">
    <div class="mx-auto w-full max-w-screen-md bg-gray-200 dark:bg-gray-800 rounded-lg shadow-md">
      <div class="flex items-center justify-between px-6 py-4 border-b border-gray-200 dark:border-gray-500">
        <h2 class="text-lg font-semibold text-gray-800 dark:text-gray-200">Consumos</h2>
        <div class="flex">
          <button class="px-3 py-1 text-sm font-medium text-gray-600 dark:text-gray-200 bg-gray-100 dark:bg-gray-700 rounded-md hover:bg-gray-200 dark:hover:bg-gray-600">
            Día
          </button>
          <button class="px-3 py-1 text-sm font-medium text-gray-600 dark:text-gray-200 bg-gray-100 dark:bg-gray-700 rounded-md hover:bg-gray-200 dark:hover:bg-gray-600">
            Mes
          </button>
          <button class="px-3 py-1 text-sm font-medium text-gray-600 dark:text-gray-200 bg-gray-100 dark:bg-gray-700 rounded-md hover:bg-gray-200 dark:hover:bg-gray-600">
            Año
          </button>
        </div>
      </div>
      <div class="px-6 py-4">
            <div class="w-full mx-auto flex justify-center">
                <canvas id="canvas"></canvas>
            </div>  
      </div>
    </div>
  </div>
  