<div class="flex items-center justify-center h-1/4 overflow-y-hidden">
    <div class="mx-auto w-full max-w-screen-lg bg-gray-100 dark:bg-gray-800 rounded-lg shadow-md">
        <div class="flex flex-col">
            <div class="-m-1.5 overflow-x-auto">
              <div class="p-1.5 min-w-full inline-block align-middle">
                <div [ngClass]="{ 'opacity-0': isLoading, 'opacity-100 transition-opacity duration-500': !isLoading }"  style="max-height: calc(66vh); overflow-y: auto;">
                  <table class="min-w-full divide-y overflow-y-hidden divide-gray-200 dark:divide-neutral-700">
                    <thead>
                      <tr>
                        <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">Entrada</th>
                        <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">Salida</th>
                        <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">Fecha</th>
                        <th scope="col" class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">Action</th>
                      </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200 dark:divide-neutral-700">
                      <tr *ngFor="let call of filteredCalls" class="hover:bg-gray-100 dark:hover:bg-neutral-700">
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-neutral-200">+34 {{ call.entrada }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200">+34 {{ call.salida }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200">{{ call.fecha }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                          <button 
                            type="button" 
                            class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 focus:outline-none focus:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:text-blue-400 dark:focus:text-blue-400"
                            (click)="showDetails(call)">
                            Details
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="activeCall" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center">
  <div class="rounded-lg shadow-lg p-6 max-w-sm w-full bg-white dark:bg-[#727272]">
    <h2 class="text-lg font-bold mb-4">Detalles de la llamada</h2>
    <p><strong>Entrada:</strong> +34 {{ activeCall.entrada }}</p>
    <p><strong>Salida:</strong> +34 {{ activeCall.salida }}</p>
    <p><strong>Fecha:</strong> {{ activeCall.fecha }}</p>
    <p><strong>Hora:</strong> {{ activeCall.hora }} h</p>
    <p><strong>Duración:</strong> {{ activeCall.duracion }} min</p>
    <div class="mt-4 flex justify-end">
      <button 
        class="text-sm font-semibold text-gray-600 hover:text-gray-800 dark:text-gray-300 dark:hover:text-white"
        (click)="closeDetails()">
        Cerrar
      </button>
    </div>
  </div>
</div>