<div class="grid h-screen place-content-center bg-white px-4">
    <div class="text-center">
      <h1 class="text-9xl font-black text-gray-200">403</h1>
  
      <p class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">Nuh-uh!</p>
  
      <p class="mt-4 text-gray-500">No tienes acceso a esta pagina.</p>
  
      <a
        (click)="cerrarsesion()"
        routerLink="/home"
        href="#"
        class="mt-6 inline-block rounded bg-blue-600 transition-all px-5 py-3 text-sm font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring"
      >
        Volver a inicio
      </a>
    </div>
  </div>